<article class="module width_full">
  <header><h3>Assignment details</h3></header>
  <div class="module_content">
    <form>
      <fieldset style="width:100%; float:left;">
        <table>
          <tr>
            <td><label>Title:</label>
              <text><b>{{models.assignment.work.title}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Description:</label>
              <text><b>{{models.assignment.work.description}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Type:</label>
              <text><b>{{models.assignment.work.type}}</b></text>
            </td>
          </tr>
          <tr>
            <td>
              <br>
              <label>Mentor:</label>
              <text><b>{{models.assignment.mentor.name}}</b></text>
              &nbsp;&nbsp;&nbsp;
              <select style="width:200px" ng-model="selectedTeacher">
                <option ng-repeat="teacher in models.teachers"
                        ng-selected="{{teacher.id == models.assignment.mentor.id}}"
                        value="{{teacher.id}}">
                  {{teacher.name}}
                </option>
              </select>
              &nbsp;
              <span>
                <input name="submit" type="submit" ng-click="methods.reassign(models.assignment.id, selectedTeacher)" value="Reassign"/>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <br>
              <label>Student:</label>
              <text><b>{{models.assignment.student.name}}&#160;&#160;{{models.assignment.student.studentCode}}</b></text>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
              <input name="submit" type="submit" ng-click="methods.backToAssignments()" value="Back"/>
            </td>
          </tr>
        </table>
      </fieldset>
      <div class="clear"></div>
    </form>
  </div>
</article>