<article class="module width_full column">
  <header>
      <span style="width: 200px; float: left;">
        <h3 class="tabs_involved">Assignments</h3>
      </span>
      <span style="width: 300px; float: right">
        <form class="post_message">
          <label style="padding-top:4px; float: left;" for="searchAssignments"><b>Search:</b></label>
          <input id="searchAssignments" ng-model="searchText" type="text">
        </form>
      </span>
  </header>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <table id="table_data" class="tablesorter data_table"
             at-list="models.assignments | filter:searchText
             | offset:currentPage*itemsPerPage | limitTo:itemsPerPage"
             at-table
             at-config="config"
             cellspacing="0">
        <thead>
        <tr>
          <th at-attribute="work.title">Title</th>
          <th at-attribute="work.type">Type</th>
          <th at-attribute="work.author.name">Author</th>
          <th at-attribute="work.creationDate">Created on</th>
          <th at-attribute="work.status">Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="methods.showAssignment(item.id)">
          <td at-implicit at-sortable at-attribute="work.title"></td>
          <td at-implicit at-sortable at-attribute="work.type"></td>
          <td at-implicit at-sortable at-attribute="work.author.name"></td>
          <td at-implicit at-sortable at-attribute="work.creationDate"></td>
          <td at-sortable at-attribute="work.status">{{showStatus(item.work.status)}}</td>

          <!--<td>-->
          <!--<input type="image" src="images/icn_trash.png" title="Remove" ng-click="methods.removeAssignment(assignment.id, $event)">-->
          <!--</td>-->
        </tr>
        </tbody>

        <tfoot>
        <td colspan='4'>
          <pagination filtered="{{ (models.assignments
              | filter:searchText).length }}"
                      table="table_data"></pagination>
        </td>
        </tfoot>

      </table>
    </div>
    <!-- end of #tab1 -->

  </div>
  <!-- end of .tab_container -->
</article><!-- end of content manager article -->
