<!doctype html>
<html>
<head>
<title>Login Page</title>
<style>
.error {
	padding: 15px;
	margin-bottom: 20px;
  border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
  border: 1px solid #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
  border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
</style>
</head>
<body onload='document.loginForm.username.focus();'>

	<div id="login-box">
    <#if error??>
      <div class="error">${error}</div>
    </#if>

		<form name='loginForm' action="${request.contextPath}/login" method='POST'>
			<table>
				<tr>
					<td>User:</td>
					<td><input type='text' name='username'></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type='password' name='password'/></td>
				</tr>
				<tr>
					<td colspan='2'><input name="submit" type="submit" value="submit" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>