<div>
  <div style="padding-left:40px;padding-top:20px;font-size:18px;font-weight:bold">{{models.curriculum.name}}</div>
  <div>
    <article class="module width_full column">
      <header>
          <span style="width: 200px; float: left;">
            <h3 class="tabs_involved">Courses</h3>
          </span>
          <span style="width: 300px; float: right">
            <form class="post_message">
              <label style="padding-top:4px; float: left;" for="searchCourse"><b>Search:</b></label>
              <input id="searchCourse" ng-model="searchText" type="text">
            </form>
          </span>
      </header>
      <div class="tab_container">
        <div id="tab1" class="tab_content">
          <table class="tablesorter data_table" cellspacing="0">
            <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Ects credits</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="course in models.curriculum.courses | filter:searchText">
              <td>{{course.code}}</td>
              <td>{{course.name}}</td>
              <td>{{course.ectsCredits}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</div>