<article class="module width_full column">
  <header>
      <span style="width: 200px; float: left;">
        <h3 class="tabs_involved">Faculties</h3>
      </span>
      <span style="width: 300px; float: right">
        <form class="post_message">
          <label style="padding-top:4px; float: left;" for="searchFaculties"><b>Search:</b></label>
          <input id="searchFaculties" ng-model="searchText" type="text">
        </form>
      </span>
  </header>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <table id="table_data" class="tablesorter data_table"
             at-list="models.faculties | filter:searchText
             | offset:currentPage*itemsPerPage | limitTo:itemsPerPage"
             at-table
             at-config="config"
             cellspacing="0">
        <thead>
        <tr>
          <th at-attribute="name">Title</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr at-attribute="id" ng-click="methods.showCurriculums(item.id)">
          <td at-implicit at-sortable  at-attribute="name"></td>
        </tr>
        </tbody>

        <tfoot>
        <td colspan='4'>
          <pagination filtered="{{ (models.faculties
              | filter:searchText).length }}"
                      table="table_data"></pagination>
        </td>
        </tfoot>

      </table>
    </div>
  </div>
</article>
