<article class="module width_full column">
  <header>
      <span style="width: 200px; float: left;">
        <h3 class="tabs_involved">Students</h3>
      </span>
      <span style="width: 300px; float: right">
        <form class="post_message">
          <label style="padding-top:4px; float: left;" for="searchStudent"><b>Search:</b></label>
          <input id="searchStudent" ng-model="searchText" type="text">
        </form>
      </span>
  </header>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <table id="table_data" class="tablesorter data_table table-striped"
             at-list="models.students
             | filter:searchText
             | offset:currentPage*itemsPerPage | limitTo:itemsPerPage"
             at-table
             at-config="config" cellspacing="0">
        <thead>
        <tr>
          <th at-attribute="studentCode">Student code</th>
          <th at-attribute="name">Name</th>
          <th at-attribute="phone">Phone</th>
          <th at-attribute="email">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td at-implicit at-sortable at-attribute="studentCode"></td>
          <td at-implicit at-sortable at-attribute="name"></td>
          <td at-implicit at-sortable at-attribute="phone"></td>
          <td at-implicit at-sortable at-attribute="email"></td>
        </tr>
        </tbody>

        <tfoot>
          <td colspan='4'>
            <pagination filtered="{{ (models.students
              | filter:searchText).length }}"
                        table="table_data"></pagination>
          </td>
        </tfoot>

      </table>

    </div>
  </div>
</article>