<article class="module width_full">
  <header><h3>Teacher</h3></header>
  <div class="module_content">
    <form>
      <fieldset style="width:100%; float:left;">
        <table>
          <tr>
            <td><label>Name:</label>
              <text><b>{{models.teacher.name}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Phone:</label>
              <text><b>{{models.teacher.phone}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Email:</label>
              <text><b>{{models.teacher.email}}</b></text>
            </td>
          </tr>
          <tr>
          <tr>
            <td><br><br></td>
          </tr>
          <tr>
          <tr style="width:100%">
            <td>
              <div>
                <br><label style="width:100%">Curriculums of that teacher</label>
              </div>
              <div style="padding-left:10px" ng-repeat="curriculum in models.curriculums">
                <a href="#" ng-click="methods.showCurriculum(curriculum.id)"><b>{{curriculum.name}}</b></a>
                <div>We can also show here the courses of that curriculum where given person teaches</div>
              </div>
            </td>
          </tr>
        </table>
      </fieldset>
      <div class="clear"></div>
    </form>
  </div>
</article>