<article class="module width_full">

  <header><h3>Add proposal</h3></header>
  <div class="module_content">
    <form>
      <fieldset style="width:100%; float:left;">
        <table>
          <tr>
            <td><label>Title:</label>
              <input type='text' style="width:300px" name='title' ng-model="models.proposal.title"></td>
          </tr>
          <tr>
            <td>
              <br><label>Type:</label>
              <select style="width:300px" ng-model="models.proposal.type">
                <option value="THESIS">THESIS</option>
                <option value="PRACTICE">PRACTICE</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <br><label>Description:</label>
              <div class="col-sm-12">
                <div text-angular ng-model="models.proposal.description" name="description-editor"
                     ta-text-editor-class=""
                     ta-html-editor-class="" ta-focussed-class="border-around">
                </div>
              </div>
          </tr>
          <tr>
            <td>
              <br/>
              <input name="submit" type="submit" ng-click="methods.backToProposals()" value="Back"/>
              <input name="submit" type="submit" ng-click="methods.addProposal(models.proposal)" value="Add"/>
            </td>
          </tr>
        </table>
      </fieldset>
      <div class="clear"></div>
    </form>
  </div>

</article>