<article class="module width_full">

  <header><h3>Edit proposal</h3></header>
  <div class="module_content">
    <form>
      <fieldset style="width:100%; float:left;">
        <table>
          <tr>
            <td>
              <label>Title:</label>
              <span ng-if="models.isEditAllowed">
                <input type='text' style="width:300px" name='title' ng-model="models.proposal.title">
              </span>
              <span ng-if="!models.isEditAllowed">
                {{models.proposal.title}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <br><label>Type:</label>
              <span ng-if="models.isEditAllowed">
                <select style="width:300px" ng-model="models.proposal.type">
                  <option value="THESIS">THESIS</option>
                  <option value="PRACTICE">PRACTICE</option>
                </select>
              </span>
              <span ng-if="!models.isEditAllowed">
                {{models.proposal.type}}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <br>
              <label>Description:</label>
              <span ng-if="models.isEditAllowed">
                <div class="col-sm-12">
                  <div text-angular ng-model="models.proposal.description" name="description-editor"
                       ta-text-editor-class=""
                       ta-html-editor-class="" ta-focussed-class="border-around">
                  </div>
                </div>
              </span>
              <br/>
              <div style="padding-lef" ng-if="!models.isEditAllowed">
                <div style="er: 1px soli" ng-bind-html="renderHtml(models.proposal.description)"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <br/>
              <input name="submit" type="submit" ng-click="methods.backToProposals()" value="Back"/>
              <input name="submit" type="submit" ng-click="methods.showPopup()" value="Add Comment"/>
              <input name="submit" type="submit" ng-if="models.isEditAllowed" ng-click="methods.saveProposal(models.proposal)" value="Save"/>
              <input name="submit" type="submit" ng-if="models.isEditAllowed" ng-click="methods.removeProposal(models.proposal)" value="Remove"/>
            </td>
          </tr>

        </table>
      </fieldset>
      <div class="clear"></div>
    </form>
  </div>

  <modal-dialog show='showPopup' width='750px' height='535px'>
    <form>
      <fieldset style="...">
        <br><label>Comment:</label>
        <div class="col-sm-12">
          <div text-angular ng-model="commentText" name="comment-editor"
               ta-text-editor-class=""
               ta-html-editor-class="" ta-focussed-class="border-around">
          </div>
          <br/><br/>
          <input name="submit" type="submit" ng-click="methods.addComment(commentText)" value="Ok"/>
          <input name="submit" type="submit" ng-click="methods.hidePopup()" value="Cancel"/>
          <br/>
        </div>

      </fieldset>
    </form>
  </modal-dialog>

</article>

<article ng-show="methods.showComments()" class="module width_full">
  <header><h3>Comments: </h3></header>

  <div class="module_content">
    <table id="proposal_comment_table">
      <tr ng-repeat="comment in models.comments">
        <td>
          Author: <span style="">{{comment.author.name}}</span>
          <br/><br/>
          <span ng-bind-html="comment.text"></span>
          <hr/>
        </td>
      </tr>
      <tr>
        <hr/>
      </tr>
    </table>
  </div>
</article>
<!-- end of styles article -->