<article class="module width_full column">
  <header>
      <span style="width: 200px; float: left;">
        <h3 class="tabs_involved">Proposals</h3>
      </span>
      <span style="width: 500px; float: right">
        <form class="post_message">
          <span>
            <span style="width: 200px">
              <input type="checkbox" name="THESIS" ng-model="type.THESIS" /><b>Thesis</b>
              &#160;&#160;
              <input type="checkbox" name="PRACTICE" ng-model="type.PRACTICE" checked/><b>Practice</b>
            </span>
            <span style="width: 300px; float: right">
              <label style="padding-top:4px;float: left" for="searchWork"><b>Search:</b></label>
              <input id="searchWork" ng-model="searchText" type="text">
            </span>
          </span>
        </form>
      </span>
  </header>
    <div class="tab_container">
        <div id="tab1" class="tab_content">
            <table id="table_data" class="tablesorter data_table table-striped"
                   at-list="models.proposals | filter:searchText | filter:checkedType
                   | offset:currentPage*itemsPerPage | limitTo:itemsPerPage"
                   at-table
                   at-config="config"
                   cellspacing="0">
                <thead>
                <tr>
                    <th at-attribute="title">Title</th>
                    <th at-attribute="type">Type</th>
                    <th at-attribute="author.name">Author</th>
                    <th at-attribute="creationDate">Created on</th>
                    <th at-attribute="status">Status</th>
                    <th at-attribute="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="methods.showProposal(item.id)">
                    <td at-implicit at-sortable at-attribute="title"></td>
                    <td at-implicit at-sortable at-attribute="type"></td>
                    <td at-implicit at-sortable at-attribute="author.name"></td>
                    <td at-implicit at-sortable at-attribute="creationDate"></td>
                    <td at-sortable at-attribute="status">{{showStatus(item.status)}}</td>
                    <td>
                      <img at-attribute="id" ng-if="methods.isMentor(item)" style="width:26px;height:26px" src="images/flag_green.png"/>
                      <input at-attribute="id"  ng-if="!methods.isMentor(item)" type="image"
                             src="images/yes.png" style="width:15px;height:15px;" title="Assign to me"
                             ng-click="methods.assignAsMentor(item.id, $event)">
                      &nbsp;&nbsp;
                      <input at-attribute="id" type="image" src="images/icn_trash.png" title="Trash"
                             ng-click="methods.deleteProposal(item.id, $event)">
                    </td>
                </tr>
                </tbody>

              <tfoot>
                <td colspan='4'>
                  <pagination filtered="{{ (models.proposals
                    | filter:searchText | filter:checkedType).length }}"
                              table="table_data"></pagination>
                </td>
              </tfoot>

            </table>
        </div><!-- end of #tab1 -->
    </div><!-- end of .tab_container -->
</article><!-- end of content manager article -->
