<article class="module width_full column">
  <header>
      <span style="width: 200px; float: left;">
        <h3 class="tabs_involved">Works</h3>
      </span>
      <span style="width: 500px; float: right">
        <form class="post_message">
          <span>
            <span style="width: 200px">
              <input type="checkbox" name="THESIS" ng-model="type.THESIS" /><b>Thesis</b>
              &#160;&#160;
              <input type="checkbox" name="PRACTICE" ng-model="type.PRACTICE" /><b>Practice</b>
            </span>
            <span style="width: 300px; float: right">
              <label style="padding-top:4px;float: left" for="searchWork"><b>Search:</b></label>
              <input id="searchWork" ng-model="searchText" type="text">
            </span>
          </span>
        </form>
      </span>
  </header>
  <div class="tab_container">
    <div id="tab1" class="tab_content">
      <table id="table_data" class="tablesorter data_table" cellspacing="0">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Author</th>
          <th>Assignee</th>
          <th>Type</th>
          <th>Mentors</th>
          <th>Reviewers</th>
          <th>Created on</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <!--filter:searchText |-->
        <tr ng-repeat="work in models.works | filter:searchText | filter:checkedType
        | offset:currentPage*itemsPerPage | limitTo:itemsPerPage" ng-click="">
          <td>{{work.title}}</td>
          <td>{{shortText(work.description)}}</td>
          <td>{{work.author.name}}</td>
          <td>{{work.assignee.name}}</td>
          <td>{{work.type}}</td>
          <td>{{count(work.mentors)}}</td>
          <td>{{count(work.reviewers)}}</td>
          <td>{{work.creationDate}}</td>
          <td>{{showStatus(work.status)}}</td>

          <!--<td>-->
          <!--<input type="image" src="images/icn_trash.png" title="Remove" ng-click="methods.removeAssignment(assignment.id, $event)">-->
          <!--</td>-->
        </tr>
        </tbody>

        <tfoot>
        <td colspan='4'>
          <pagination filtered="{{ (models.works
              | filter:searchText | filter:checkedType).length }}"
                      table="table_data"></pagination>
        </td>
        </tfoot>

      </table>
    </div>
    <!-- end of #tab1 -->
  </div>
  <!-- end of .tab_container -->
</article><!-- end of content manager article -->
