<article class="module width_full">
  <header><h3>Invitation details</h3></header>
  <div class="module_content">
    <form>
      <fieldset style="width:100%; float:left;">
        <table>
          <tr>
            <td><label>Title:</label>
              <text><b>{{models.invitation.work.title}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Description:</label>
              <text><b>{{models.invitation.work.description}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Type:</label>
              <text><b>{{models.invitation.work.type}}</b></text>
            </td>
          </tr>
          <tr>
            <td><br><label>Student:</label>
              <text><b>{{models.invitation.student.name}}&#160;&#160;{{models.invitation.student.studentCode}}</b></text>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
              <input name="submit" type="submit" ng-click="methods.backToInvitations()" value="Back"/>
              <input name="submit" type="submit" ng-click="methods.acceptInvitation(models.invitation.id)" value="Accept"/>
              <input name="submit" type="submit" ng-click="methods.declineInvitation(models.invitation.id)" value="Decline"/>
            </td>
          </tr>
        </table>
      </fieldset>
      <div class="clear"></div>
    </form>
  </div>

</article>
<!-- end of styles article -->