<article class="module width_full">
    <header><h3>Stats</h3></header>
    <div class="module_content">
        <article class="stats_graph">
            <img src="http://chart.apis.google.com/chart?chxr=0,0,3000&chxt=y&chs=520x140&cht=lc&chco=76A4FB,80C65A&chd=s:Tdjpsvyvttmiihgmnrst,OTbdcfhhggcTUTTUadfk&chls=2|2&chma=40,20,20,30" width="520" height="140" alt="" />
        </article>

        <article class="stats_overview">
            <div class="overview_today">
                <p class="overview_day">Today</p>
                <p class="overview_count">1,876</p>
                <p class="overview_type">Hits</p>
                <p class="overview_count">2,103</p>
                <p class="overview_type">Views</p>
            </div>
            <div class="overview_previous">
                <p class="overview_day">Yesterday</p>
                <p class="overview_count">1,646</p>
                <p class="overview_type">Hits</p>
                <p class="overview_count">2,054</p>
                <p class="overview_type">Views</p>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</article><!-- end of stats article -->

<article class="module width_3_quarter">
    <header><h3 class="tabs_involved">Proposals Manager</h3>
        <ul class="tabs">
            <li><a href="#tab1">Most viewed Proposals</a></li>
        </ul>
    </header>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
            <table class="tablesorter" cellspacing="0">
                <thead>
                <tr>
                    <th>Proposal Name</th>
                    <th>Category</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Lorem Ipsum Dolor Sit Amet</td>
                    <td>Articles</td>
                    <td>5th April 2011</td>
                    <td><input type="image" src="images/icn_edit.png" title="Edit"></td>
                </tr>
                <tr>
                    <td>Ipsum Lorem Dolor Sit Amet</td>
                    <td>Freebies</td>
                    <td>6th April 2011</td>
                    <td><input type="image" src="images/icn_edit.png" title="Edit"></td>
                </tr>
                <tr>
                    <td>Sit Amet Dolor Ipsum</td>
                    <td>Tutorials</td>
                    <td>10th April 2011</td>
                    <td><input type="image" src="images/icn_edit.png" title="Edit"></td>
                </tr>
                <tr>
                    <td>Dolor Lorem Amet</td>
                    <td>Articles</td>
                    <td>16th April 2011</td>
                    <td><input type="image" src="images/icn_edit.png" title="Edit"></td>
                </tr>
                <tr>
                    <td>Dolor Lorem Amet</td>
                    <td>Articles</td>
                    <td>16th April 2011</td>
                    <td><input type="image" src="images/icn_edit.png" title="Edit"></td>
                </tr>
                </tbody>
            </table>
        </div><!-- end of #tab1 -->

    </div><!-- end of .tab_container -->

</article><!-- end of content manager article -->

<article class="module width_quarter">
    <header><h3>Messages</h3></header>
    <div class="message_list">
        <div class="module_content">
            <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                <p><strong>John Doe</strong></p></div>
            <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                <p><strong>John Doe</strong></p></div>
            <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                <p><strong>John Doe</strong></p></div>
            <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                <p><strong>John Doe</strong></p></div>
            <div class="message"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor.</p>
                <p><strong>John Doe</strong></p></div>
        </div>
    </div>
    <footer>
        <form class="post_message">
            <input type="text" value="Message" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
            <input type="submit" class="btn_post_message" value=""/>
        </form>
    </footer>
</article><!-- end of messages article -->